In [101]:
import pandas as pd
import glob

# Get all .csv files from the DDBB folder
csv_files = glob.glob('DDBB2/*.csv')

# Read each .csv file into a DataFrame and store them in a list
dataframes = [pd.read_csv(file) for file in csv_files]

dataframesCensus = [pd.read_csv(file) for file in glob.glob('DDBB2/CensusDB/*.csv')]

df_1970_2022_presidential = dataframes[0]
df_1970_2022_senate = dataframes[1]
df_1970_2022_house = dataframes[2]

# Get all dataframes from the CensusDB folder
Alabama = dataframesCensus[0]
Alaska = dataframesCensus[1]
Arizona = dataframesCensus[2]
Arkansas = dataframesCensus[3]
California = dataframesCensus[4]
Colorado = dataframesCensus[5]
Connecticut = dataframesCensus[6]
Delaware = dataframesCensus[7]
Florida = dataframesCensus[8]
Georgia = dataframesCensus[9]
Hawaii = dataframesCensus[10]
Idaho = dataframesCensus[11]
Illinois = dataframesCensus[12]
Indiana = dataframesCensus[13]
Iowa = dataframesCensus[14]
Kansas = dataframesCensus[15]
Kentucky = dataframesCensus[16]
Louisiana = dataframesCensus[17]
Maine = dataframesCensus[18]
Maryland = dataframesCensus[19]
Massachusetts = dataframesCensus[20]
Michigan = dataframesCensus[21]
Minnesota = dataframesCensus[22]
Mississippi = dataframesCensus[23]
Missouri = dataframesCensus[24]
Montana = dataframesCensus[25]
Nebraska = dataframesCensus[26]
Nevada = dataframesCensus[27]
NewHampshire = dataframesCensus[28]
NewJersey = dataframesCensus[29]
NewMexico = dataframesCensus[30]
NewYork = dataframesCensus[31]
NorthCarolina = dataframesCensus[32]
NorthDakota = dataframesCensus[33]
Ohio = dataframesCensus[34]
Oklahoma = dataframesCensus[35]
Oregon = dataframesCensus[36]
Pennsylvania = dataframesCensus[37]
RhodeIsland = dataframesCensus[38]
SouthCarolina = dataframesCensus[39]
SouthDakota = dataframesCensus[40]
Tennessee = dataframesCensus[41]
Texas = dataframesCensus[42]
Utah = dataframesCensus[43]
Vermont = dataframesCensus[44]
Virginia = dataframesCensus[45]
Washington = dataframesCensus[46]
WestVirginia = dataframesCensus[47]
Wisconsin = dataframesCensus[48]
Wyoming = dataframesCensus[49]

In [106]:
# List of districts for each state
districts = [7, 0, 1, 2, 50, 6, 5, 0, 26, 6, 1, 2, 6, 5, 3, 3, 6, 2, 2, 6, 9, 8, 2, 2, 2, 1, 2, 3, 1, 7, 2, 22, 9, 0, 1, 5, 4, 8, 2, 1, 0, 5, 23, 4, 0, 7, 8, 2, 3, 0]

# List of state names in alphabetical order
state_names = ['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA', 'COLORADO', 'CONNECTICUT', 'DELAWARE', 'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO', 'ILLINOIS', 'INDIANA', 'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND', 'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI', 'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE', 'NEW JERSEY', 'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA', 'NORTH DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA', 'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE', 'TEXAS', 'UTAH', 'VERMONT', 'VIRGINIA', 'WASHINGTON', 'WEST VIRGINIA', 'WISCONSIN', 'WYOMING']

# Initialize an empty list to store the data for each district
data_list = []

# Iterate over the states and their corresponding districts
for state_name, district in zip(state_names, districts):
    # Filter the data for the required district and year
    # Determine the last available year for the specific state in the df_1970_2022_senate DataFrame
    last_year_senate = df_1970_2022_senate[df_1970_2022_senate['state'] == state_name]['year'].max()
    last_year_house = df_1970_2022_house[df_1970_2022_house['state'] == state_name]['year'].max()
    last_year_presidential = df_1970_2022_presidential[df_1970_2022_presidential['state'] == state_name]['year'].max()


    # Filter the data for the required district and year
    senate_district = df_1970_2022_senate[
        (df_1970_2022_senate['year'] == last_year_senate) & 
        (df_1970_2022_senate['state'] == state_name)
    ]
    house_district = df_1970_2022_house[
        (df_1970_2022_house['year'] == last_year_house) & 
        (df_1970_2022_house['state'] == state_name) & 
        (df_1970_2022_house['district'] == district)
    ]
    
    presidential_district = df_1970_2022_presidential[
        (df_1970_2022_presidential['year'] == last_year_presidential) & 
        (df_1970_2022_presidential['state'] == state_name)
    ]


    # Create a new DataFrame with the specified columns
    data = {
        'district': [f'{senate_district.iloc[0]["state_po"]} {district}'],
        'senate_candidate1': [senate_district.iloc[0]['candidatevotes']],
        'senate_candidate2': [senate_district.iloc[1]['candidatevotes']],
        'senate_total_votes': [senate_district.iloc[0]['totalvotes']],
        'house_democrat': [house_district[house_district['party'] == 'DEMOCRAT']['candidatevotes'].values[0]] if not house_district[house_district['party'] == 'DEMOCRAT'].empty else [None],
        'house_republican': [house_district[house_district['party'] == 'REPUBLICAN']['candidatevotes'].values[0]] if not house_district[house_district['party'] == 'REPUBLICAN'].empty else [None],
        'house_total_votes': [house_district['totalvotes'].values[0]] if not house_district.empty else [None],
        'presidential_democrat': [presidential_district[presidential_district['party_detailed'] == 'DEMOCRAT']['candidatevotes'].values[0]] if not presidential_district[presidential_district['party_detailed'] == 'DEMOCRAT'].empty else [None],
        'presidential_republican': [presidential_district[presidential_district['party_detailed'] == 'REPUBLICAN']['candidatevotes'].values[0]] if not presidential_district[presidential_district['party_detailed'] == 'REPUBLICAN'].empty else [None],
        'presidential_total_votes': [presidential_district['totalvotes'].values[0]] if not presidential_district.empty else [None]
    }

    # Convert the dictionary to a DataFrame and append it to the list
    data_list.append(pd.DataFrame(data))

# Concatenate all the DataFrames in the list to create the final DataFrame
final_df = pd.concat(data_list, ignore_index=True)

final_df

,district,senate_candidate1,senate_candidate2,senate_total_votes,house_democrat,house_republican,house_total_votes,presidential_democrat,presidential_republican,presidential_total_votes
0,AL 7,920478,1392076,2316445,123233,67416,193940,849624,1441170,2323282
1,AK 0,146068,16806,354587,128553,67866,263610,153778,189951,359530
2,AZ 1,28,1637661,3355307,179141,182336,361477,1672143,1661686,3387326
3,AR 2,399390,793871,1193261,86887,147975,246446,423932,760647,1219069
4,CA 50,6019422,5093942,11113364,168816,99819,268635,11110250,6006429,17500881
5,CO 6,1731114,1429492,3235790,170140,105084,280755,1804352,1364607,3279980
6,CT 5,787685,545717,1386840,123818,123342,253672,1080831,714717,1823857
7,DE 0,291804,186054,490935,178416,138201,321649,296268,200603,504346
8,FL 26,4099505,4089472,8190005,58868,143240,202108,5297045,5668731,11067456
9,GA 6,2194848,2288446,4483294,125612,206886,332498,2473633,2461854,4999960
10,HI 1,276316,112035,388351,143546,51217,202378,366130,196864,579784
11,ID 2,25329,285864,859827,98736,172450,271186,287021,554119,868014
12,IL 6,3278930,2319870,5968901,150496,126351,276859,3471915,2446891,6033743
13,IN 5,1158000,1023553,2282565,93434,146575,240009,1242416,1729519,3033118
14,IA 3,864997,754859,1700130,154117,156262,315039,759061,897672,1700130
15,KS 3,727962,571530,1367755,165527,128839,301294,570323,771406,1372303
16,KY 6,1233315,816257,2135057,83005,154762,246818,772474,1326646,2136768
17,LA 2,17362,16518,2071543,158120,46927,205047,856034,1255776,2148062
18,ME 2,417645,347223,828305,165136,146142,333326,435072,360737,828305
19,MD 6,697017,1491614,2299889,140295,115771,256398,1985023,976414,3037030
20,MA 9,2357809,1177765,3658005,197823,136347,342455,2382202,1167202,3658005
21,MI 8,2734568,2642233,5479720,178322,143850,335829,2804040,2649852,5539302
22,MN 2,190154,57174,3214256,165583,148576,325472,1717077,1484065,3277171
23,MS 2,578691,709511,1311354,108285,71884,180169,539398,756764,1313759
24,MO 2,1254927,1112935,2442289,135895,173277,315666,1253014,1718736,3025962
25,MT 1,272463,333174,605637,115265,123102,247960,244786,343602,603674
26,NE 2,583507,227191,930012,106807,112663,219470,374583,556846,956383
27,NV 3,490071,441202,972132,131086,121083,252169,703486,669890,1405376
28,NH 1,326229,450778,795914,167391,142229,309962,424921,365654,806182
29,NJ 7,2541178,1817052,4440440,150701,159392,310093,2608335,1883274,4549353
30,NM 2,24271,418483,917237,96986,95636,192673,501614,401894,923965
31,NY 22,3755489,1730439,6055151,132913,116529,273981,5230985,3244798,8661735
32,NC 9,2665598,2569965,5474952,101202,131453,232655,2684292,2758773,5524802
33,ND 0,179720,144376,326138,None,148399,238586,114902,235595,361819
34,OH 1,2355923,1012,4410898,156416,140058,296474,2679165,3154834,5922202
35,OK 5,979140,34435,1556361,96799,152699,258826,503890,1020280,1560699
36,OR 4,912814,1321047,2321249,171372,146055,339077,1340383,958448,2374321
37,PA 8,2777680,2134848,4994643,146956,139930,286886,3458229,3377674,6915283
38,RI 2,328574,164855,494262,101432,93969,201089,307486,199922,516990
39,SC 1,32845,1369137,2515104,115796,153757,272681,1091541,1385103,2514096
40,SD 0,276232,143987,420219,None,253821,327841,150471,261043,422609
41,TN 5,1840926,1040691,2959761,93648,123558,221275,1143711,1852475,3053851
42,TX 23,5962983,4888764,11144040,80947,116649,208776,5259126,5890347,11315056
43,UT 4,665215,328541,1062845,82181,155110,254059,560282,865140,1488289
44,VT 0,1979,2763,272624,176494,78397,291955,242820,112704,370968
45,VA 7,2466500,1934199,4405087,143357,130586,274590,2413568,1962430,4460524
46,WA 8,1803364,1282804,3086168,179003,155976,336038,2369612,1584651,4087631
47,WV 2,547454,210309,778918,84278,160493,244886,235984,545382,794652
48,WI 3,1472914,1184885,2657841,152977,164743,317922,1630866,1610184,3298041
49,WY 0,198100,72766,278503,47250,132206,198198,73491,193559,278503

In [107]:
# Filter the relevant rows from Ca_50
relevant_topics = [
    ("People", "Place of Birth", "Native"),
    ("Workers", "Employment Status", "Unemployment Rate"),
    ("Socioeconomic", "Income and Benefits (In 2023 inflation-adjusted dollars)", "Mean household income (dollars)"),
    ("Socioeconomic", "Percentage of Families and People Whose Income in the Past 12 Months is Below the Poverty Level", "All families"),
    ("Education", "Educational Attainment", "Graduate or professional degree")
]

filtered_df = California[
    California.apply(lambda row: (row['Topic'], row['Subject'], row['Title']) in relevant_topics, axis=1)
]

# Extract the relevant columns and rename them for clarity
filtered_df = filtered_df[['Title', 'District 50 Estimate']].rename(columns={'Title': 'Metric', 'District 50 Estimate': 'Value'})

# Convert the filtered DataFrame to a dictionary
additional_data = filtered_df.set_index('Metric').to_dict()['Value']

# Add the additional data to the final_df
for key, value in additional_data.items():
    final_df[key] = value

final_df

,district,senate_candidate1,senate_candidate2,senate_total_votes,house_democrat,house_republican,house_total_votes,presidential_democrat,presidential_republican,presidential_total_votes,Native,Unemployment Rate,Mean household income (dollars),All families,Graduate or professional degree
0,AL 7,920478,1392076,2316445,123233,67416,193940,849624,1441170,2323282,"607,938",4.3,"163,873",5.2,"149,338"
1,AK 0,146068,16806,354587,128553,67866,263610,153778,189951,359530,"607,938",4.3,"163,873",5.2,"149,338"
2,AZ 1,28,1637661,3355307,179141,182336,361477,1672143,1661686,3387326,"607,938",4.3,"163,873",5.2,"149,338"
3,AR 2,399390,793871,1193261,86887,147975,246446,423932,760647,1219069,"607,938",4.3,"163,873",5.2,"149,338"
4,CA 50,6019422,5093942,11113364,168816,99819,268635,11110250,6006429,17500881,"607,938",4.3,"163,873",5.2,"149,338"
5,CO 6,1731114,1429492,3235790,170140,105084,280755,1804352,1364607,3279980,"607,938",4.3,"163,873",5.2,"149,338"
6,CT 5,787685,545717,1386840,123818,123342,253672,1080831,714717,1823857,"607,938",4.3,"163,873",5.2,"149,338"
7,DE 0,291804,186054,490935,178416,138201,321649,296268,200603,504346,"607,938",4.3,"163,873",5.2,"149,338"
8,FL 26,4099505,4089472,8190005,58868,143240,202108,5297045,5668731,11067456,"607,938",4.3,"163,873",5.2,"149,338"
9,GA 6,2194848,2288446,4483294,125612,206886,332498,2473633,2461854,4999960,"607,938",4.3,"163,873",5.2,"149,338"
10,HI 1,276316,112035,388351,143546,51217,202378,366130,196864,579784,"607,938",4.3,"163,873",5.2,"149,338"
11,ID 2,25329,285864,859827,98736,172450,271186,287021,554119,868014,"607,938",4.3,"163,873",5.2,"149,338"
12,IL 6,3278930,2319870,5968901,150496,126351,276859,3471915,2446891,6033743,"607,938",4.3,"163,873",5.2,"149,338"
13,IN 5,1158000,1023553,2282565,93434,146575,240009,1242416,1729519,3033118,"607,938",4.3,"163,873",5.2,"149,338"
14,IA 3,864997,754859,1700130,154117,156262,315039,759061,897672,1700130,"607,938",4.3,"163,873",5.2,"149,338"
15,KS 3,727962,571530,1367755,165527,128839,301294,570323,771406,1372303,"607,938",4.3,"163,873",5.2,"149,338"
16,KY 6,1233315,816257,2135057,83005,154762,246818,772474,1326646,2136768,"607,938",4.3,"163,873",5.2,"149,338"
17,LA 2,17362,16518,2071543,158120,46927,205047,856034,1255776,2148062,"607,938",4.3,"163,873",5.2,"149,338"
18,ME 2,417645,347223,828305,165136,146142,333326,435072,360737,828305,"607,938",4.3,"163,873",5.2,"149,338"
19,MD 6,697017,1491614,2299889,140295,115771,256398,1985023,976414,3037030,"607,938",4.3,"163,873",5.2,"149,338"
20,MA 9,2357809,1177765,3658005,197823,136347,342455,2382202,1167202,3658005,"607,938",4.3,"163,873",5.2,"149,338"
21,MI 8,2734568,2642233,5479720,178322,143850,335829,2804040,2649852,5539302,"607,938",4.3,"163,873",5.2,"149,338"
22,MN 2,190154,57174,3214256,165583,148576,325472,1717077,1484065,3277171,"607,938",4.3,"163,873",5.2,"149,338"
23,MS 2,578691,709511,1311354,108285,71884,180169,539398,756764,1313759,"607,938",4.3,"163,873",5.2,"149,338"
24,MO 2,1254927,1112935,2442289,135895,173277,315666,1253014,1718736,3025962,"607,938",4.3,"163,873",5.2,"149,338"
25,MT 1,272463,333174,605637,115265,123102,247960,244786,343602,603674,"607,938",4.3,"163,873",5.2,"149,338"
26,NE 2,583507,227191,930012,106807,112663,219470,374583,556846,956383,"607,938",4.3,"163,873",5.2,"149,338"
27,NV 3,490071,441202,972132,131086,121083,252169,703486,669890,1405376,"607,938",4.3,"163,873",5.2,"149,338"
28,NH 1,326229,450778,795914,167391,142229,309962,424921,365654,806182,"607,938",4.3,"163,873",5.2,"149,338"
29,NJ 7,2541178,1817052,4440440,150701,159392,310093,2608335,1883274,4549353,"607,938",4.3,"163,873",5.2,"149,338"
30,NM 2,24271,418483,917237,96986,95636,192673,501614,401894,923965,"607,938",4.3,"163,873",5.2,"149,338"
31,NY 22,3755489,1730439,6055151,132913,116529,273981,5230985,3244798,8661735,"607,938",4.3,"163,873",5.2,"149,338"
32,NC 9,2665598,2569965,5474952,101202,131453,232655,2684292,2758773,5524802,"607,938",4.3,"163,873",5.2,"149,338"
33,ND 0,179720,144376,326138,None,148399,238586,114902,235595,361819,"607,938",4.3,"163,873",5.2,"149,338"
34,OH 1,2355923,1012,4410898,156416,140058,296474,2679165,3154834,5922202,"607,938",4.3,"163,873",5.2,"149,338"
35,OK 5,979140,34435,1556361,96799,152699,258826,503890,1020280,1560699,"607,938",4.3,"163,873",5.2,"149,338"
36,OR 4,912814,1321047,2321249,171372,146055,339077,1340383,958448,2374321,"607,938",4.3,"163,873",5.2,"149,338"
37,PA 8,2777680,2134848,4994643,146956,139930,286886,3458229,3377674,6915283,"607,938",4.3,"163,873",5.2,"149,338"
38,RI 2,328574,164855,494262,101432,93969,201089,307486,199922,516990,"607,938",4.3,"163,873",5.2,"149,338"
39,SC 1,32845,1369137,2515104,115796,153757,272681,1091541,1385103,2514096,"607,938",4.3,"163,873",5.2,"149,338"
40,SD 0,276232,143987,420219,None,253821,327841,150471,261043,422609,"607,938",4.3,"163,873",5.2,"149,338"
41,TN 5,1840926,1040691,2959761,93648,123558,221275,1143711,1852475,3053851,"607,938",4.3,"163,873",5.2,"149,338"
42,TX 23,5962983,4888764,11144040,80947,116649,208776,5259126,5890347,11315056,"607,938",4.3,"163,873",5.2,"149,338"
43,UT 4,665215,328541,1062845,82181,155110,254059,560282,865140,1488289,"607,938",4.3,"163,873",5.2,"149,338"
44,VT 0,1979,2763,272624,176494,78397,291955,242820,112704,370968,"607,938",4.3,"163,873",5.2,"149,338"
45,VA 7,2466500,1934199,4405087,143357,130586,274590,2413568,1962430,4460524,"607,938",4.3,"163,873",5.2,"149,338"
46,WA 8,1803364,1282804,3086168,179003,155976,336038,2369612,1584651,4087631,"607,938",4.3,"163,873",5.2,"149,338"
47,WV 2,547454,210309,778918,84278,160493,244886,235984,545382,794652,"607,938",4.3,"163,873",5.2,"149,338"
48,WI 3,1472914,1184885,2657841,152977,164743,317922,1630866,1610184,3298041,"607,938",4.3,"163,873",5.2,"149,338"
49,WY 0,198100,72766,278503,47250,132206,198198,73491,193559,278503,"607,938",4.3,"163,873",5.2,"149,338"