In [66]:
import pandas as pd
import glob

# Get all .csv files from the DDBB folder
csv_files = glob.glob('DDBB2/*.csv')

# Read each .csv file into a DataFrame and store them in a list
dataframes = [pd.read_csv(file) for file in csv_files]

dataframesCensus = [pd.read_csv(file) for file in glob.glob('DDBB2/CensusDB/*.csv')]

df_1970_2022_presidential = dataframes[0]
df_1970_2022_senate = dataframes[1]
df_1970_2022_house = dataframes[2]

# Get all dataframes from the CensusDB folder
Alabama = dataframesCensus[0]
Alaska = dataframesCensus[1]
Arizona = dataframesCensus[2]
Arkansas = dataframesCensus[3]
California = dataframesCensus[4]
Colorado = dataframesCensus[5]
Connecticut = dataframesCensus[6]
Delaware = dataframesCensus[7]
Florida = dataframesCensus[8]
Georgia = dataframesCensus[9]
Hawaii = dataframesCensus[10]
Idaho = dataframesCensus[11]
Illinois = dataframesCensus[12]
Indiana = dataframesCensus[13]
Iowa = dataframesCensus[14]
Kansas = dataframesCensus[15]
Kentucky = dataframesCensus[16]
Louisiana = dataframesCensus[17]
Maine = dataframesCensus[18]
Maryland = dataframesCensus[19]
Massachusetts = dataframesCensus[20]
Michigan = dataframesCensus[21]
Minnesota = dataframesCensus[22]
Mississippi = dataframesCensus[23]
Missouri = dataframesCensus[24]
Montana = dataframesCensus[25]
Nebraska = dataframesCensus[26]
Nevada = dataframesCensus[27]
NewHampshire = dataframesCensus[28]
NewJersey = dataframesCensus[29]
NewMexico = dataframesCensus[30]
NewYork = dataframesCensus[31]
NorthCarolina = dataframesCensus[32]
NorthDakota = dataframesCensus[33]
Ohio = dataframesCensus[34]
Oklahoma = dataframesCensus[35]
Oregon = dataframesCensus[36]
Pennsylvania = dataframesCensus[37]
RhodeIsland = dataframesCensus[38]
SouthCarolina = dataframesCensus[39]
SouthDakota = dataframesCensus[40]
Tennessee = dataframesCensus[41]
Texas = dataframesCensus[42]
Utah = dataframesCensus[43]
Vermont = dataframesCensus[44]
Virginia = dataframesCensus[45]
Washington = dataframesCensus[46]
WestVirginia = dataframesCensus[47]
Wisconsin = dataframesCensus[48]
Wyoming = dataframesCensus[49]

In [67]:
# List of districts for each state
districts = [7, 0, 1, 2, 50, 6, 5, 0, 26, 6, 1, 2, 6, 5, 3, 3, 6, 2, 2, 6, 9, 8, 2, 2, 2, 1, 2, 3, 1, 7, 2, 22, 9, 0, 1, 5, 4, 8, 2, 1, 0, 5, 23, 4, 0, 7, 8, 2, 3, 0]

# List of state names in alphabetical order
state_names = ['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA', 'COLORADO', 'CONNECTICUT', 'DELAWARE', 'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO', 'ILLINOIS', 'INDIANA', 'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND', 'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI', 'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE', 'NEW JERSEY', 'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA', 'NORTH DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA', 'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE', 'TEXAS', 'UTAH', 'VERMONT', 'VIRGINIA', 'WASHINGTON', 'WEST VIRGINIA', 'WISCONSIN', 'WYOMING']

# Initialize an empty list to store the data for each district
data_list = []

# Iterate over the states and their corresponding districts
for state_name, district in zip(state_names, districts):
    # Filter the data for the required district and year
    # Determine the last available year for the specific state in the df_1970_2022_senate DataFrame
    last_year_senate = df_1970_2022_senate[df_1970_2022_senate['state'] == state_name]['year'].max()
    last_year_house = df_1970_2022_house[df_1970_2022_house['state'] == state_name]['year'].max()
    last_year_presidential = df_1970_2022_presidential[df_1970_2022_presidential['state'] == state_name]['year'].max()


    # Filter the data for the required district and year
    senate_district = df_1970_2022_senate[
        (df_1970_2022_senate['year'] == last_year_senate) & 
        (df_1970_2022_senate['state'] == state_name)
    ]
    house_district = df_1970_2022_house[
        (df_1970_2022_house['year'] == last_year_house) & 
        (df_1970_2022_house['state'] == state_name) & 
        (df_1970_2022_house['district'] == district)
    ]
    
    presidential_district = df_1970_2022_presidential[
        (df_1970_2022_presidential['year'] == last_year_presidential) & 
        (df_1970_2022_presidential['state'] == state_name)
    ]


    # Create a new DataFrame with the specified columns
    data = {
        'district': [f'{senate_district.iloc[0]["state_po"]} {district}'],
        'senate_candidate1': [senate_district.iloc[0]['candidatevotes']],
        'senate_candidate2': [senate_district.iloc[1]['candidatevotes']],
        'senate_total_votes': [senate_district.iloc[0]['totalvotes']],
        'house_democrat': [house_district[house_district['party'] == 'DEMOCRAT']['candidatevotes'].values[0]] if not house_district[house_district['party'] == 'DEMOCRAT'].empty else [None],
        'house_republican': [house_district[house_district['party'] == 'REPUBLICAN']['candidatevotes'].values[0]] if not house_district[house_district['party'] == 'REPUBLICAN'].empty else [None],
        'house_total_votes': [house_district['totalvotes'].values[0]] if not house_district.empty else [None],
        'presidential_democrat': [presidential_district[presidential_district['party_detailed'] == 'DEMOCRAT']['candidatevotes'].values[0]] if not presidential_district[presidential_district['party_detailed'] == 'DEMOCRAT'].empty else [None],
        'presidential_republican': [presidential_district[presidential_district['party_detailed'] == 'REPUBLICAN']['candidatevotes'].values[0]] if not presidential_district[presidential_district['party_detailed'] == 'REPUBLICAN'].empty else [None],
        'presidential_total_votes': [presidential_district['totalvotes'].values[0]] if not presidential_district.empty else [None]
    }

    # Convert the dictionary to a DataFrame and append it to the list
    data_list.append(pd.DataFrame(data))

# Concatenate all the DataFrames in the list to create the final DataFrame
final_df = pd.concat(data_list, ignore_index=True)

final_df

,district,senate_candidate1,senate_candidate2,senate_total_votes,house_democrat,house_republican,house_total_votes,presidential_democrat,presidential_republican,presidential_total_votes
0,AL 7,920478,1392076,2316445,123233,67416,193940,849624,1441170,2323282
1,AK 0,146068,16806,354587,128553,67866,263610,153778,189951,359530
2,AZ 1,28,1637661,3355307,179141,182336,361477,1672143,1661686,3387326
3,AR 2,399390,793871,1193261,86887,147975,246446,423932,760647,1219069
4,CA 50,6019422,5093942,11113364,168816,99819,268635,11110250,6006429,17500881
5,CO 6,1731114,1429492,3235790,170140,105084,280755,1804352,1364607,3279980
6,CT 5,787685,545717,1386840,123818,123342,253672,1080831,714717,1823857
7,DE 0,291804,186054,490935,178416,138201,321649,296268,200603,504346
8,FL 26,4099505,4089472,8190005,58868,143240,202108,5297045,5668731,11067456
9,GA 6,2194848,2288446,4483294,125612,206886,332498,2473633,2461854,4999960
10,HI 1,276316,112035,388351,143546,51217,202378,366130,196864,579784
11,ID 2,25329,285864,859827,98736,172450,271186,287021,554119,868014
12,IL 6,3278930,2319870,5968901,150496,126351,276859,3471915,2446891,6033743
13,IN 5,1158000,1023553,2282565,93434,146575,240009,1242416,1729519,3033118
14,IA 3,864997,754859,1700130,154117,156262,315039,759061,897672,1700130
15,KS 3,727962,571530,1367755,165527,128839,301294,570323,771406,1372303
16,KY 6,1233315,816257,2135057,83005,154762,246818,772474,1326646,2136768
17,LA 2,17362,16518,2071543,158120,46927,205047,856034,1255776,2148062
18,ME 2,417645,347223,828305,165136,146142,333326,435072,360737,828305
19,MD 6,697017,1491614,2299889,140295,115771,256398,1985023,976414,3037030
20,MA 9,2357809,1177765,3658005,197823,136347,342455,2382202,1167202,3658005
21,MI 8,2734568,2642233,5479720,178322,143850,335829,2804040,2649852,5539302
22,MN 2,190154,57174,3214256,165583,148576,325472,1717077,1484065,3277171
23,MS 2,578691,709511,1311354,108285,71884,180169,539398,756764,1313759
24,MO 2,1254927,1112935,2442289,135895,173277,315666,1253014,1718736,3025962
25,MT 1,272463,333174,605637,115265,123102,247960,244786,343602,603674
26,NE 2,583507,227191,930012,106807,112663,219470,374583,556846,956383
27,NV 3,490071,441202,972132,131086,121083,252169,703486,669890,1405376
28,NH 1,326229,450778,795914,167391,142229,309962,424921,365654,806182
29,NJ 7,2541178,1817052,4440440,150701,159392,310093,2608335,1883274,4549353
30,NM 2,24271,418483,917237,96986,95636,192673,501614,401894,923965
31,NY 22,3755489,1730439,6055151,132913,116529,273981,5230985,3244798,8661735
32,NC 9,2665598,2569965,5474952,101202,131453,232655,2684292,2758773,5524802
33,ND 0,179720,144376,326138,None,148399,238586,114902,235595,361819
34,OH 1,2355923,1012,4410898,156416,140058,296474,2679165,3154834,5922202
35,OK 5,979140,34435,1556361,96799,152699,258826,503890,1020280,1560699
36,OR 4,912814,1321047,2321249,171372,146055,339077,1340383,958448,2374321
37,PA 8,2777680,2134848,4994643,146956,139930,286886,3458229,3377674,6915283
38,RI 2,328574,164855,494262,101432,93969,201089,307486,199922,516990
39,SC 1,32845,1369137,2515104,115796,153757,272681,1091541,1385103,2514096
40,SD 0,276232,143987,420219,None,253821,327841,150471,261043,422609
41,TN 5,1840926,1040691,2959761,93648,123558,221275,1143711,1852475,3053851
42,TX 23,5962983,4888764,11144040,80947,116649,208776,5259126,5890347,11315056
43,UT 4,665215,328541,1062845,82181,155110,254059,560282,865140,1488289
44,VT 0,1979,2763,272624,176494,78397,291955,242820,112704,370968
45,VA 7,2466500,1934199,4405087,143357,130586,274590,2413568,1962430,4460524
46,WA 8,1803364,1282804,3086168,179003,155976,336038,2369612,1584651,4087631
47,WV 2,547454,210309,778918,84278,160493,244886,235984,545382,794652
48,WI 3,1472914,1184885,2657841,152977,164743,317922,1630866,1610184,3298041
49,WY 0,198100,72766,278503,47250,132206,198198,73491,193559,278503

In [68]:
# Dataframes of each state
dataframesCensus = [pd.read_csv(file) for file in glob.glob('DDBB2/CensusDB/*.csv')]

# I want to get the same data from each dataframe
# Define a list to store the results
results = []


relevant_topics = [
    ("People", "Place of Birth", "Native"),
    ("Workers", "Employment Status", "Unemployment Rate"),
    ("Socioeconomic", "Income and Benefits (In 2023 inflation-adjusted dollars)", "Mean household income (dollars)"),
    ("Socioeconomic", "Percentage of Families and People Whose Income in the Past 12 Months is Below the Poverty Level", "All families"),
    ("Education", "Educational Attainment", "Graduate or professional degree"),
    ("People", "Hispanic or Latino and Race", "Total population"),
    ("People", "Sex and Age", "Male"),
    ("People", "Sex and Age", "Female")
]

# Iterate over each dataframe in dataframesCensus and also iterate from districts to get 1 number per state
for df, state_name, district in zip(dataframesCensus, state_names, districts):
    if district == 0:
        district = '(At Large)'
    
    # if it is a number of just 1 digit, add a 0 before it
    if len(str(district)) == 1:
        district = f'0{district}'

    # Filter the data to only include the relevant topics   
    filtered_data = df[
        df.apply(lambda row: (row['Topic'], row['Subject'], row['Title']) in relevant_topics, axis=1)
    ]

    # Extract the relevant columns and rename them for clarity
    filtered_data = filtered_data[['Title', f'District {district} Estimate']].rename(columns={'Title': 'Metric', f'District {district} Estimate': state_name})

    # Convert the filtered DataFrame to a dictionary
    data_dict = filtered_data.set_index('Metric').to_dict()[state_name]

    # Add the state name and district to the dictionary
    data_dict['State'] = state_name
    data_dict['District'] = district

    # Append the dictionary to the results list
    results.append(data_dict)

print(results)

[{'Male': '338,340', 'Female': '376,792', 'Total population': '715,132', 'Native': '688,852', 'Unemployment Rate': '6.2', 'Mean household income (dollars)': '68,392', 'All families': '17.1', 'Graduate or professional degree': '44,204', 'State': 'ALABAMA', 'District': '07'}, {'Male': '385,855', 'Female': '347,551', 'Total population': '733,406', 'Native': '678,835', 'Unemployment Rate': '4.8', 'Mean household income (dollars)': '114,201', 'All families': '7.2', 'Graduate or professional degree': '60,116', 'State': 'ALASKA', 'District': '(At Large)'}, {'Male': '393,913', 'Female': '410,343', 'Total population': '804,256', 'Native': '700,868', 'Unemployment Rate': '3.6', 'Mean household income (dollars)': '146,662', 'All families': '6.2', 'Graduate or professional degree': '123,560', 'State': 'ARIZONA', 'District': '01'}, {'Male': '375,240', 'Female': '398,787', 'Total population': '774,027', 'Native': '742,344', 'Unemployment Rate': '3.1', 'Mean household income (dollars)': '89,344', 'All families': '10.2', 'Graduate or professional degree': '67,783', 'State': 'ARKANSAS', 'District': '02'}, {'Male': '391,721', 'Female': '389,530', 'Total population': '781,251', 'Native': '607,938', 'Unemployment Rate': '4.3', 'Mean household income (dollars)': '163,873', 'All families': '5.2', 'Graduate or professional degree': '149,338', 'State': 'CALIFORNIA', 'District': 50}, {'Male': '365,004', 'Female': '365,347', 'Total population': '730,351', 'Native': '601,291', 'Unemployment Rate': '4.2', 'Mean household income (dollars)': '128,029', 'All families': '7.8', 'Graduate or professional degree': '86,219', 'State': 'COLORADO', 'District': '06'}, {'Male': '357,201', 'Female': '365,249', 'Total population': '722,450', 'Native': '591,990', 'Unemployment Rate': '4.9', 'Mean household income (dollars)': '120,160', 'All families': '9.2', 'Graduate or professional degree': '86,673', 'State': 'CONNECTICUT', 'District': '05'}, {'Male': '498,994', 'Female': '532,896', 'Total population': '1,031,890', 'Native': '916,761', 'Unemployment Rate': '3.5', 'Mean household income (dollars)': '109,486', 'All families': '7.4', 'Graduate or professional degree': '113,137', 'State': 'DELAWARE', 'District': '(At Large)'}, {'Male': '403,057', 'Female': '406,425', 'Total population': '809,482', 'Native': '358,233', 'Unemployment Rate': '3.4', 'Mean household income (dollars)': '101,429', 'All families': '10.7', 'Graduate or professional degree': '65,444', 'State': 'FLORIDA', 'District': 26}, {'Male': '394,471', 'Female': '403,021', 'Total population': '797,492', 'Native': '639,147', 'Unemployment Rate': '2.7', 'Mean household income (dollars)': '162,199', 'All families': '3.7', 'Graduate or professional degree': '124,698', 'State': 'GEORGIA', 'District': '06'}, {'Male': '360,404', 'Female': '362,865', 'Total population': '723,269', 'Native': '563,364', 'Unemployment Rate': '3.2', 'Mean household income (dollars)': '130,244', 'All families': '5.9', 'Graduate or professional degree': '79,047', 'State': 'HAWAII', 'District': '01'}, {'Male': '479,169', 'Female': '476,596', 'Total population': '955,765', 'Native': '892,389', 'Unemployment Rate': '3.5', 'Mean household income (dollars)': '96,903', 'All families': '7.0', 'Graduate or professional degree': '68,978', 'State': 'IDAHO', 'District': '02'}, {'Male': '360,759', 'Female': '365,070', 'Total population': '725,829', 'Native': '611,031', 'Unemployment Rate': '4.2', 'Mean household income (dollars)': '125,719', 'All families': '4.3', 'Graduate or professional degree': '91,903', 'State': 'ILLINOIS', 'District': '06'}, {'Male': '386,779', 'Female': '395,220', 'Total population': '781,999', 'Native': '733,792', 'Unemployment Rate': '3.3', 'Mean household income (dollars)': '111,098', 'All families': '7.0', 'Graduate or professional degree': '85,296', 'State': 'INDIANA', 'District': '05'}, {'Male': '409,355', 'Female': '411,884', 'Total population': '821,239', 'Native': '751,460', 'Unemployment Rate': '3.2', 'Mean household income (dollars)': '104,078', 'All families': '7.7', 'Graduate or professional degree': '69,131', 'State': 'IOWA', 'District': '03'}, {'Male': '369,448', 'Female': '379,773', 'Total population': '749,221', 'Native': '689,071', 'Unemployment Rate': '2.6', 'Mean household income (dollars)': '126,506', 'All families': '4.7', 'Graduate or professional degree': '101,145', 'State': 'KANSAS', 'District': '03'}, {'Male': '376,072', 'Female': '382,816', 'Total population': '758,888', 'Native': '707,044', 'Unemployment Rate': '3.6', 'Mean household income (dollars)': '90,041', 'All families': '10.2', 'Graduate or professional degree': '81,580', 'State': 'KENTUCKY', 'District': '06'}, {'Male': '352,955', 'Female': '389,949', 'Total population': '742,904', 'Native': '692,503', 'Unemployment Rate': '6.4', 'Mean household income (dollars)': '76,972', 'All families': '17.6', 'Graduate or professional degree': '63,400', 'State': 'LOUISIANA', 'District': '02'}, {'Male': '342,573', 'Female': '352,809', 'Total population': '695,382', 'Native': '672,905', 'Unemployment Rate': '3.6', 'Mean household income (dollars)': '81,572', 'All families': '8.5', 'Graduate or professional degree': '52,649', 'State': 'MAINE', 'District': '02'}, {'Male': '396,725', 'Female': '402,994', 'Total population': '799,719', 'Native': '643,336', 'Unemployment Rate': '2.8', 'Mean household income (dollars)': '123,332', 'All families': '6.7', 'Graduate or professional degree': '107,111', 'State': 'MARYLAND', 'District': '06'}, {'Male': '385,559', 'Female': '402,072', 'Total population': '787,631', 'Native': '711,003', 'Unemployment Rate': '4.1', 'Mean household income (dollars)': '131,862', 'All families': '5.3', 'Graduate or professional degree': '107,916', 'State': 'MASSACHUSETTS', 'District': '09'}, {'Male': '372,459', 'Female': '394,169', 'Total population': '766,628', 'Native': '748,122', 'Unemployment Rate': '6.1', 'Mean household income (dollars)': '81,709', 'All families': '12.0', 'Graduate or professional degree': '47,509', 'State': 'MICHIGAN', 'District': '08'}, {'Male': '364,409', 'Female': '368,880', 'Total population': '733,289', 'Native': '667,446', 'Unemployment Rate': '2.8', 'Mean household income (dollars)': '126,198', 'All families': '2.9', 'Graduate or professional degree': '69,174', 'State': 'MINNESOTA', 'District': '02'}, {'Male': '341,391', 'Female': '360,189', 'Total population': '701,580', 'Native': '690,365', 'Unemployment Rate': '7.0', 'Mean household income (dollars)': '62,527', 'All families': '20.6', 'Graduate or professional degree': '38,821', 'State': 'MISSISSIPPI', 'District': '02'}, {'Male': '373,029', 'Female': '391,391', 'Total population': '764,420', 'Native': '703,359', 'Unemployment Rate': '2.6', 'Mean household income (dollars)': '134,476', 'All families': '3.8', 'Graduate or professional degree': '112,421', 'State': 'MISSOURI', 'District': '02'}, {'Male': '293,693', 'Female': '282,860', 'Total population': '576,553', 'Native': '562,691', 'Unemployment Rate': '2.6', 'Mean household income (dollars)': '97,579', 'All families': '6.3', 'Graduate or professional degree': '57,746', 'State': 'MONTANA', 'District': '01'}, {'Male': '331,351', 'Female': '332,934', 'Total population': '664,285', 'Native': '599,758', 'Unemployment Rate': '2.7', 'Mean household income (dollars)': '116,374', 'All families': '6.6', 'Graduate or professional degree': '74,324', 'State': 'NEBRASKA', 'District': '02'}, {'Male': '396,360', 'Female': '400,035', 'Total population': '796,395', 'Native': '601,830', 'Unemployment Rate': '4.3', 'Mean household income (dollars)': '113,667', 'All families': '7.8', 'Graduate or professional degree': '67,871', 'State': 'NEVADA', 'District': '03'}, {'Male': '342,085', 'Female': '355,695', 'Total population': '697,780', 'Native': '652,438', 'Unemployment Rate': '2.7', 'Mean household income (dollars)': '125,646', 'All families': '5.2', 'Graduate or professional degree': '79,024', 'State': 'NEW HAMPSHIRE', 'District': '01'}, {'Male': '387,973', 'Female': '390,705', 'Total population': '778,678', 'Native': '639,277', 'Unemployment Rate': '3.1', 'Mean household income (dollars)': '177,842', 'All families': '2.7', 'Graduate or professional degree': '126,777', 'State': 'NEW JERSEY', 'District': '07'}, {'Male': '358,069', 'Female': '352,009', 'Total population': '710,078', 'Native': '615,066', 'Unemployment Rate': '5.2', 'Mean household income (dollars)': '74,288', 'All families': '17.5', 'Graduate or professional degree': '46,267', 'State': 'NEW MEXICO', 'District': '02'}, {'Male': '374,289', 'Female': '388,710', 'Total population': '762,999', 'Native': '704,471', 'Unemployment Rate': '3.9', 'Mean household income (dollars)': '94,338', 'All families': '9.7', 'Graduate or professional degree': '83,881', 'State': 'NEW YORK', 'District': 22}, {'Male': '388,128', 'Female': '383,866', 'Total population': '771,994', 'Native': '714,019', 'Unemployment Rate': '5.5', 'Mean household income (dollars)': '87,032', 'All families': '12.5', 'Graduate or professional degree': '60,576', 'State': 'NORTH CAROLINA', 'District': '09'}, {'Male': '400,491', 'Female': '383,435', 'Total population': '783,926', 'Native': '752,830', 'Unemployment Rate': '2.9', 'Mean household income (dollars)': '98,324', 'All families': '5.3', 'Graduate or professional degree': '53,269', 'State': 'NORTH DAKOTA', 'District': '(At Large)'}, {'Male': '393,182', 'Female': '403,649', 'Total population': '796,831', 'Native': '734,083', 'Unemployment Rate': '4.2', 'Mean household income (dollars)': '115,919', 'All families': '7.5', 'Graduate or professional degree': '113,807', 'State': 'OHIO', 'District': '01'}, {'Male': '401,673', 'Female': '417,276', 'Total population': '818,949', 'Native': '765,443', 'Unemployment Rate': '3.9', 'Mean household income (dollars)': '100,172', 'All families': '8.5', 'Graduate or professional degree': '79,132', 'State': 'OKLAHOMA', 'District': '05'}, {'Male': '348,338', 'Female': '361,846', 'Total population': '710,184', 'Native': '675,362', 'Unemployment Rate': '5.0', 'Mean household income (dollars)': '88,866', 'All families': '8.2', 'Graduate or professional degree': '68,969', 'State': 'OREGON', 'District': '04'}, {'Male': '383,809', 'Female': '380,761', 'Total population': '764,570', 'Native': '691,268', 'Unemployment Rate': '5.0', 'Mean household income (dollars)': '83,046', 'All families': '11.8', 'Graduate or professional degree': '55,576', 'State': 'PENNSYLVANIA', 'District': '08'}, {'Male': '274,640', 'Female': '284,852', 'Total population': '559,492', 'Native': '489,292', 'Unemployment Rate': '4.2', 'Mean household income (dollars)': '117,650', 'All families': '6.5', 'Graduate or professional degree': '62,806', 'State': 'RHODE ISLAND', 'District': '02'}, {'Male': '379,544', 'Female': '397,298', 'Total population': '776,842', 'Native': '724,330', 'Unemployment Rate': '2.8', 'Mean household income (dollars)': '123,170', 'All families': '5.6', 'Graduate or professional degree': '95,705', 'State': 'SOUTH CAROLINA', 'District': '01'}, {'Male': '468,222', 'Female': '451,096', 'Total population': '919,318', 'Native': '879,375', 'Unemployment Rate': '2.6', 'Mean household income (dollars)': '96,650', 'All families': '7.6', 'Graduate or professional degree': '63,884', 'State': 'SOUTH DAKOTA', 'District': '(At Large)'}, {'Male': '389,772', 'Female': '403,566', 'Total population': '793,338', 'Native': '701,928', 'Unemployment Rate': '2.5', 'Mean household income (dollars)': '133,686', 'All families': '5.1', 'Graduate or professional degree': '98,095', 'State': 'TENNESSEE', 'District': '05'}, {'Male': '405,032', 'Female': '381,702', 'Total population': '786,734', 'Native': '663,071', 'Unemployment Rate': '3.9', 'Mean household income (dollars)': '102,434', 'All families': '10.7', 'Graduate or professional degree': '62,702', 'State': 'TEXAS', 'District': 23}, {'Male': '447,382', 'Female': '438,142', 'Total population': '885,524', 'Native': '804,325', 'Unemployment Rate': '3.2', 'Mean household income (dollars)': '122,018', 'All families': '5.2', 'Graduate or professional degree': '66,575', 'State': 'UTAH', 'District': '04'}, {'Male': '322,938', 'Female': '324,526', 'Total population': '647,464', 'Native': '618,417', 'Unemployment Rate': '2.6', 'Mean household income (dollars)': '105,931', 'All families': '4.5', 'Graduate or professional degree': '87,196', 'State': 'VERMONT', 'District': '(At Large)'}, {'Male': '410,303', 'Female': '403,861', 'Total population': '814,164', 'Native': '679,953', 'Unemployment Rate': '3.7', 'Mean household income (dollars)': '134,245', 'All families': '4.5', 'Graduate or professional degree': '80,400', 'State': 'VIRGINIA', 'District': '07'}, {'Male': '395,596', 'Female': '382,503', 'Total population': '778,099', 'Native': '655,260', 'Unemployment Rate': '3.7', 'Mean household income (dollars)': '160,607', 'All families': '4.0', 'Graduate or professional degree': '86,986', 'State': 'WASHINGTON', 'District': '08'}, {'Male': '454,164', 'Female': '449,533', 'Total population': '903,697', 'Native': '882,049', 'Unemployment Rate': '4.6', 'Mean household income (dollars)': '83,217', 'All families': '10.0', 'Graduate or professional degree': '65,984', 'State': 'WEST VIRGINIA', 'District': '02'}, {'Male': '374,327', 'Female': '365,225', 'Total population': '739,552', 'Native': '720,172', 'Unemployment Rate': '3.1', 'Mean household income (dollars)': '88,519', 'All families': '6.1', 'Graduate or professional degree': '47,855', 'State': 'WISCONSIN', 'District': '03'}, {'Male': '295,735', 'Female': '288,322', 'Total population': '584,057', 'Native': '562,779', 'Unemployment Rate': '3.2', 'Mean household income (dollars)': '93,304', 'All families': '7.3', 'Graduate or professional degree': '45,114', 'State': 'WYOMING', 'District': '(At Large)'}]

In [70]:
# Convert the results list of dictionaries to a DataFrame
results_df = pd.DataFrame(results)

# Add the new columns to final_df
final_df['Native People'] = results_df['Native']
final_df['Unemployment Rate'] = results_df['Unemployment Rate']
final_df['Mean household income'] = results_df['Mean household income (dollars)']
final_df['Families income below poverty'] = results_df['All families']
final_df['Graduate or professional degree'] = results_df['Graduate or professional degree']
final_df['Hispanic'] = results_df['Total population']
final_df['Male'] = results_df['Male']
final_df['Female'] = results_df['Female']


final_df

,district,senate_candidate1,senate_candidate2,senate_total_votes,house_democrat,house_republican,house_total_votes,presidential_democrat,presidential_republican,presidential_total_votes,Native People,Unemployment Rate,Mean household income,Families income below poverty,Graduate or professional degree,Hispanic,Male,Female
0,AL 7,920478,1392076,2316445,123233,67416,193940,849624,1441170,2323282,"688,852",6.2,"68,392",17.1,"44,204","715,132","338,340","376,792"
1,AK 0,146068,16806,354587,128553,67866,263610,153778,189951,359530,"678,835",4.8,"114,201",7.2,"60,116","733,406","385,855","347,551"
2,AZ 1,28,1637661,3355307,179141,182336,361477,1672143,1661686,3387326,"700,868",3.6,"146,662",6.2,"123,560","804,256","393,913","410,343"
3,AR 2,399390,793871,1193261,86887,147975,246446,423932,760647,1219069,"742,344",3.1,"89,344",10.2,"67,783","774,027","375,240","398,787"
4,CA 50,6019422,5093942,11113364,168816,99819,268635,11110250,6006429,17500881,"607,938",4.3,"163,873",5.2,"149,338","781,251","391,721","389,530"
5,CO 6,1731114,1429492,3235790,170140,105084,280755,1804352,1364607,3279980,"601,291",4.2,"128,029",7.8,"86,219","730,351","365,004","365,347"
6,CT 5,787685,545717,1386840,123818,123342,253672,1080831,714717,1823857,"591,990",4.9,"120,160",9.2,"86,673","722,450","357,201","365,249"
7,DE 0,291804,186054,490935,178416,138201,321649,296268,200603,504346,"916,761",3.5,"109,486",7.4,"113,137","1,031,890","498,994","532,896"
8,FL 26,4099505,4089472,8190005,58868,143240,202108,5297045,5668731,11067456,"358,233",3.4,"101,429",10.7,"65,444","809,482","403,057","406,425"
9,GA 6,2194848,2288446,4483294,125612,206886,332498,2473633,2461854,4999960,"639,147",2.7,"162,199",3.7,"124,698","797,492","394,471","403,021"
10,HI 1,276316,112035,388351,143546,51217,202378,366130,196864,579784,"563,364",3.2,"130,244",5.9,"79,047","723,269","360,404","362,865"
11,ID 2,25329,285864,859827,98736,172450,271186,287021,554119,868014,"892,389",3.5,"96,903",7.0,"68,978","955,765","479,169","476,596"
12,IL 6,3278930,2319870,5968901,150496,126351,276859,3471915,2446891,6033743,"611,031",4.2,"125,719",4.3,"91,903","725,829","360,759","365,070"
13,IN 5,1158000,1023553,2282565,93434,146575,240009,1242416,1729519,3033118,"733,792",3.3,"111,098",7.0,"85,296","781,999","386,779","395,220"
14,IA 3,864997,754859,1700130,154117,156262,315039,759061,897672,1700130,"751,460",3.2,"104,078",7.7,"69,131","821,239","409,355","411,884"
15,KS 3,727962,571530,1367755,165527,128839,301294,570323,771406,1372303,"689,071",2.6,"126,506",4.7,"101,145","749,221","369,448","379,773"
16,KY 6,1233315,816257,2135057,83005,154762,246818,772474,1326646,2136768,"707,044",3.6,"90,041",10.2,"81,580","758,888","376,072","382,816"
17,LA 2,17362,16518,2071543,158120,46927,205047,856034,1255776,2148062,"692,503",6.4,"76,972",17.6,"63,400","742,904","352,955","389,949"
18,ME 2,417645,347223,828305,165136,146142,333326,435072,360737,828305,"672,905",3.6,"81,572",8.5,"52,649","695,382","342,573","352,809"
19,MD 6,697017,1491614,2299889,140295,115771,256398,1985023,976414,3037030,"643,336",2.8,"123,332",6.7,"107,111","799,719","396,725","402,994"
20,MA 9,2357809,1177765,3658005,197823,136347,342455,2382202,1167202,3658005,"711,003",4.1,"131,862",5.3,"107,916","787,631","385,559","402,072"
21,MI 8,2734568,2642233,5479720,178322,143850,335829,2804040,2649852,5539302,"748,122",6.1,"81,709",12.0,"47,509","766,628","372,459","394,169"
22,MN 2,190154,57174,3214256,165583,148576,325472,1717077,1484065,3277171,"667,446",2.8,"126,198",2.9,"69,174","733,289","364,409","368,880"
23,MS 2,578691,709511,1311354,108285,71884,180169,539398,756764,1313759,"690,365",7.0,"62,527",20.6,"38,821","701,580","341,391","360,189"
24,MO 2,1254927,1112935,2442289,135895,173277,315666,1253014,1718736,3025962,"703,359",2.6,"134,476",3.8,"112,421","764,420","373,029","391,391"
25,MT 1,272463,333174,605637,115265,123102,247960,244786,343602,603674,"562,691",2.6,"97,579",6.3,"57,746","576,553","293,693","282,860"
26,NE 2,583507,227191,930012,106807,112663,219470,374583,556846,956383,"599,758",2.7,"116,374",6.6,"74,324","664,285","331,351","332,934"
27,NV 3,490071,441202,972132,131086,121083,252169,703486,669890,1405376,"601,830",4.3,"113,667",7.8,"67,871","796,395","396,360","400,035"
28,NH 1,326229,450778,795914,167391,142229,309962,424921,365654,806182,"652,438",2.7,"125,646",5.2,"79,024","697,780","342,085","355,695"
29,NJ 7,2541178,1817052,4440440,150701,159392,310093,2608335,1883274,4549353,"639,277",3.1,"177,842",2.7,"126,777","778,678","387,973","390,705"
30,NM 2,24271,418483,917237,96986,95636,192673,501614,401894,923965,"615,066",5.2,"74,288",17.5,"46,267","710,078","358,069","352,009"
31,NY 22,3755489,1730439,6055151,132913,116529,273981,5230985,3244798,8661735,"704,471",3.9,"94,338",9.7,"83,881","762,999","374,289","388,710"
32,NC 9,2665598,2569965,5474952,101202,131453,232655,2684292,2758773,5524802,"714,019",5.5,"87,032",12.5,"60,576","771,994","388,128","383,866"
33,ND 0,179720,144376,326138,None,148399,238586,114902,235595,361819,"752,830",2.9,"98,324",5.3,"53,269","783,926","400,491","383,435"
34,OH 1,2355923,1012,4410898,156416,140058,296474,2679165,3154834,5922202,"734,083",4.2,"115,919",7.5,"113,807","796,831","393,182","403,649"
35,OK 5,979140,34435,1556361,96799,152699,258826,503890,1020280,1560699,"765,443",3.9,"100,172",8.5,"79,132","818,949","401,673","417,276"
36,OR 4,912814,1321047,2321249,171372,146055,339077,1340383,958448,2374321,"675,362",5.0,"88,866",8.2,"68,969","710,184","348,338","361,846"
37,PA 8,2777680,2134848,4994643,146956,139930,286886,3458229,3377674,6915283,"691,268",5.0,"83,046",11.8,"55,576","764,570","383,809","380,761"
38,RI 2,328574,164855,494262,101432,93969,201089,307486,199922,516990,"489,292",4.2,"117,650",6.5,"62,806","559,492","274,640","284,852"
39,SC 1,32845,1369137,2515104,115796,153757,272681,1091541,1385103,2514096,"724,330",2.8,"123,170",5.6,"95,705","776,842","379,544","397,298"
40,SD 0,276232,143987,420219,None,253821,327841,150471,261043,422609,"879,375",2.6,"96,650",7.6,"63,884","919,318","468,222","451,096"
41,TN 5,1840926,1040691,2959761,93648,123558,221275,1143711,1852475,3053851,"701,928",2.5,"133,686",5.1,"98,095","793,338","389,772","403,566"
42,TX 23,5962983,4888764,11144040,80947,116649,208776,5259126,5890347,11315056,"663,071",3.9,"102,434",10.7,"62,702","786,734","405,032","381,702"
43,UT 4,665215,328541,1062845,82181,155110,254059,560282,865140,1488289,"804,325",3.2,"122,018",5.2,"66,575","885,524","447,382","438,142"
44,VT 0,1979,2763,272624,176494,78397,291955,242820,112704,370968,"618,417",2.6,"105,931",4.5,"87,196","647,464","322,938","324,526"
45,VA 7,2466500,1934199,4405087,143357,130586,274590,2413568,1962430,4460524,"679,953",3.7,"134,245",4.5,"80,400","814,164","410,303","403,861"
46,WA 8,1803364,1282804,3086168,179003,155976,336038,2369612,1584651,4087631,"655,260",3.7,"160,607",4.0,"86,986","778,099","395,596","382,503"
47,WV 2,547454,210309,778918,84278,160493,244886,235984,545382,794652,"882,049",4.6,"83,217",10.0,"65,984","903,697","454,164","449,533"
48,WI 3,1472914,1184885,2657841,152977,164743,317922,1630866,1610184,3298041,"720,172",3.1,"88,519",6.1,"47,855","739,552","374,327","365,225"
49,WY 0,198100,72766,278503,47250,132206,198198,73491,193559,278503,"562,779",3.2,"93,304",7.3,"45,114","584,057","295,735","288,322"

In [ ]:
# Print the type of each column
import seaborn as sns

final_df['district'] = final_df['district'].astype(str)
final_df['house_democrat'] = final_df['house_democrat'].fillna(0).astype('int64')
final_df['Native People'] = final_df['Native People'].astype(str).str.replace(',', '').astype(float)
final_df['Unemployment Rate'] = final_df['Unemployment Rate'].astype(float)
final_df['Mean household income'] = final_df['Mean household income'].astype(str).str.replace(',', '').astype(float)
final_df['Families income below poverty'] = final_df['Families income below poverty'].astype(float)
final_df['Graduate or professional degree'] = final_df['Graduate or professional degree'].astype(str).str.replace(',', '').astype(float)
final_df['Hispanic'] = final_df['Hispanic'].astype(str).str.replace(',', '').astype(float)
final_df['Male'] = final_df['Male'].astype(str).str.replace(',', '').astype(float)
final_df['Female'] = final_df['Female'].astype(str).str.replace(',', '').astype(float)


# Drop the 'district' column for correlation matrix calculation
corr_matrix = final_df.drop(columns=['district']).corr()

# Display the correlation matrix
import matplotlib.pyplot as plt

plt.figure(figsize=(12, 8))
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', fmt='.2f')
plt.title('Correlation Matrix')
plt.show()

NameError: name 'final' is not defined